:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --border-color: #3f0097;
    --one-use-color: #3f0097;
    --two-use-color: #5500cb;
  }
  
  .add-food-form {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 20px;
    background-color: var(--background-color2);
    border-radius: 10px;
    box-shadow: var(--one-use-color) 1px 1px 15px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin-block: 20px;
  }
  
  .add-food-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .add-food-input {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
  
  .add-food-button {
    padding: 10px;
    /* background-color: var(--primary-color); */
    background-color: var(--two-use-color);
    color: var(--background-color2);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    /* transition: background-color 0.2s; */
    transition: transform 0.3s ease-in-out;
  }
  
  .add-food-button:hover {
    background-color: var(--secondary-color);
  }
  